name: Cache Assignment

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-49ba2ce

      - name: prime-cache-49ba2ce
        run: echo "Cache hit = ${{ steps.cache-step.outputs.cache-hit }}"
